---
layout: default
---
<br>
<!--<div class="row">
	<div class="col-3 align-self-center"><img src="img/nathalie.jpg" height="300" alt="photo Nathalie"></div>
	<div class="col align-self-center">
	{% for QR in site.data.perso %}
		{% include al type='paragraphe_perso' %}
			{% include al type='titre_p' %}
				{{QR.titre}}
			{% include al type='fin_titre_p' %}
			{% include al type='suite_titre' %}
				{{QR.contenu}}
			{% include al type='fin_suite_titre' %}
		{% include al type='fin_paragraphe_perso' %}
	{% endfor %}
	</div>
</div>-->

<div class="row">
	<div class="col-3 align-self-center"><img src="img/nathalie.jpg" height="300" alt="photo Nathalie"></div>
	<div class="col">
		<p>Mes services résultent de la fusion de deux aspirations: agir efficacement dans ce que l'on entreprend, et devenir des adultes engagés dans nos vies.</p>

		<p>J'ai depuis toujours déployé mon énergie pour mettre en oeuvre des améliorations durables. Que ce soit sur les postes de manager, chef de projet, manager transverse ou directeur de projet, j'ai choisi de prendre du recul, analyser et travailler sur des sujets de fond, pour réduire la déperdition d'énergie que nous constatons souvent.</p>

		<p>Une nouvelle facette de mon identité actuelle a démarré avec ma formation de coach professionnel en 2015. Cela me permet d'être à la fois dans une posture plus mature avec mes interlocuteurs, plus efficace dans mes accompagnements, et plus responsable me concernant.</p>

		<p>J'ai ensuite eu la chance d'entrer dans l'équipe des coachs agiles d'Orange France. L'agilité allie mes deux sujets d'intérêt: chercher l'efficacité, et à faire grandir les personnes.
		Sur ce poste, j'ai pu bénéficier d'une formation intensive, et j'ai ainsi accompagné et formé des équipes autour de l'agilité, du Design Thinking, de la gouvernance partagée, et de l'intelligence collective.</p>
		<p>Après une longue réflexion, j'ai choisi de proposer, en parallèle à mes autres activités, une variante du coaching: plus courte, plus facile à solliciter, et mêlant différentes postures pour pouvoir répondre de différentes manières à la demande.</p>
		<p>Au niveau personnel, j'habite à Saint-Jorioz, près du lac d'Annecy, après une dizaine d'années sur Paris et une enfance en Alsace. Je suis en couple et maman d'une petite fille.<p>
	</div>
</div>