---
layout: default
---
<br>

<div class="row text-center align-content-start" style="min-height: 85vh;background-image:url('img/force.jpg');background-size: cover;color:white">
	<div class="col">
		<h1>Faites de votre organisation une force</h1>
		<h2>Les modèles et outils les plus efficaces adaptés à votre fonctionnement</h2>
	</div>
<!--<div class="alert alert-success row align-content-center justify-content-center" style="min-height: 85vh">
-->
</div>


<!--<div class="row min-vh-100 align-content-center justify-content-center" style="border:#d9deff double">
	<h1>Faites de votre organisation une force</h1>
	<h2>Les modèles et outils les plus efficaces adaptés à votre fonctionnement</h2>
</div>
-->

{% include interventions.html %}
<br>
<div class="row">
	<div class="offset-1">
		<details>
			<summary><span style="font-size:x-large">Durée des interventions</span></summary>
			<div class="ml-4">
				- interventions courtes : 1/2 à 3 jours
				<br>- missions plus longues, s'étalant sur des semaines ou des mois
				
				<br>possibilité également de commencer par 1h d'échange et conseil avec le service <a href={{ site.echange_lien }}>{{ site.echange_libelle }}
			</div>
		</details>

		<details class="mt-3 mb-3">
			<summary><span style="font-size:x-large">Tarif</span></summary>
			<div class="ml-4">
				800€ HT/jour
				<br><i>négociable en fonction de vos capacités et de la durée de la mission</i>
			</div>
		</details>

		<details>
			<summary><span style="font-size:x-large">Modèles et outils principaux utilisés</span></summary>

			<div class="row mt-5">
				<div class="card-columns">
					{% for nom in site.data.modeles %}
						<!--<div class="col-md-4 py-3">-->
						<div card="col">
							<div class="card">
								 <div class="card-body">
									<!--{% capture id_count %}{%increment counter%}{% endcapture %}
									<span class="glyphicon glyphicon-collapse-down"></span><h4 class="card-title text-center" data-toggle="collapse" href="#collapseExample{{id_count}}" style="color:blue"><span style="font-family: 'Glyphicons Halflings';">\e159</span><strong>{{ nom.nom }}</strong></h4>-->
									<h4 class="card-title text-center"><strong>{{ nom.nom }}</strong></h4>
									<p class="card-text text-justify">{{ nom.descr }}</p>
								</div>
							</div>	
						</div>
					{% endfor %}
				</div>
			</div>
		</details>
	</div>
</div>