---
layout: default
---
<br>

<div class="lert alert-success row align-content-center justify-content-center" style="min-height: 85vh">
	<h1>Faites de votre organisation une force</h1>
	<h2>Les modèles et outils les plus efficaces adaptés à votre fonctionnement</h2>
</div>


<!--<div class="row min-vh-100 align-content-center justify-content-center" style="border:#d9deff double">
	<h1>Faites de votre organisation une force</h1>
	<h2>Les modèles et outils les plus efficaces adaptés à votre fonctionnement</h2>
</div>
-->

{% include interventions.html %}
<br>
{% include modeles.html %}
