---
layout: default
---
<!--<div class="border border-dark">-->
<!-- ancienne version<div class="alert alert-success">
	<center><h1><b>Un échange téléphonique</b></h1>
	pour</center>
	<br>
	<div class="row">
		<div class="col-6 align-self-center text-right">&#202;TRE &Eacute;COUT&Eacute;</div>
		<div class="col align-self-center"><img src="img/etre_ecoute_t.PNG" alt="etre_ecoute"></div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-right"><img src="img/reflechir_t.PNG" alt="reflechir"></div>	
		<div class="col align-self-center">R&Eacute;FL&Eacute;CHIR: analyser, clarifier, comprendre, prendre du recul</div>
	</div>
	<div class="row">
		<div class="col-6 align-self-center text-right">AVANCER: envisager les options, faire un choix</div>
		<div class="col text-left"><img src="img/avancer_t.png" alt="avancer"></div>
	</div>
	<div class="row">
		<div class="col-6 text-right"><img src="img/avis_conseil_t.PNG" alt="avis_conseil"></div>	
		<div class="col align-self-center">obtenir un AVIS* ou un CONSEIL**</div>
	</div>
</div>
-->
<br>

<div class="row text-center align-content-center" style="min-height: 85vh;background-image:url('img/echange/pelote.png');background-size: cover">
	<div class="col-7">
		<h1>1 échange pour avancer sur votre problématique</h1>
		<h3>une aide adaptée à votre demande: questionnement, suggestions, regard extérieur</h3>
	</div>
</div>

<br>
<div class="row">
	<div class="col-6">
		<div class="card h-100 text-white bg-primary">
			<div class="card-body">
				<div class="card-title text-center"><h5>De multiples apports</h5></div>
				<p class="card-text">
					<ul>
							<li>être écouté</li>
							<li>clarifier</li>
							<li>prendre du recul</li>
							<li>envisager des options</li>
							<li>prendre une décision</li>
							<li>obtenir un regard extérieur</li>
							<li>obtenir des conseils*</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="card h-100 text-white bg-primary">
			<div class="card-body">
				<div class="card-title text-center"><h5>Un format simplifié</h5></div>
				<p class="card-text">
					<ul>
							<li>1 séance à distance</li>
							<li>durée ~1h</li>
							<li>problématique personnelle ou professionnelle</li>
							<li>*des conseils peuvent être donnés dans le domaine du développement personnel, de l'efficacité individuelle et collective
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>
	
<!--<div style="border-top:#d9deff double;border-bottom:#d9deff double;min-height: 85vh;background-image:url('img/echange/pelote.png')">

	<h1>&Eacute;change à distance</h1><h4><i>pour particuliers et professionnels - durée ~1h</i></h4><br>
	<h4><b>&#202;TRE &Eacute;COUT&Eacute;</b></h4><br>
	<h4><b>R&Eacute;FL&Eacute;CHIR</b>: analyser, clarifier, comprendre, prendre du recul</h4><br>
	<h4><b>AVANCER</b>: envisager les options, faire un choix</h4><br>
	<h4>obtenir un <b>AVIS</b>* ou un <b>CONSEIL</b>** honnête et bienveillant</h4<br>
	<h4>obtenir un <b>AVIS</b>* ou un <b>CONSEIL</b>** honnête et bienveillant</h4>
	<h6>* lorsqu'un avis extérieur a un rapport avec la problématique (ex image que vous pouvez donner)
	<br>**des conseils peuvent être donnés dans certains domaines: soi et ses relations, et dans le domaine professionnel ce qui touche à l'efficacité individuelle et collective</h6>
</div>-->
<br>
<script src="//simplybook.it/v2/widget/widget.js"></script>
<script>var widget = new SimplybookWidget({"widget_type":"button","url":"https:\/\/ecouteechange.simplybook.it","theme":"air","theme_settings":{"timeline_modern_display":"as_slots","timeline_show_end_time":"0","sb_base_color":"#6154c1","display_item_mode":"list","booking_nav_bg_color":"#d1e9c6","body_bg_color":"#f2f2f2","dark_font_color":"#333333","light_font_color":"#ffffff","btn_color_1":"#8478dc","sb_company_label_color":"#ffffff","hide_img_mode":"0","show_sidebar":"0","sb_busy":"#b3b3b3","sb_available":"#dbd6ff"},"timeline":"flexible","datepicker":"top_calendar","is_rtl":false,"app_config":{"predefined":{"provider":"1","service":"1"}},"button_title":"R\u00e9server","button_background_color":"#6154c1","button_text_color":"#ffffff","button_position":"right","button_position_offset":"45%"});</script>

<!--<p>
<h1 class="alert alert-danger text-center">Réserver un créneau en ligne</h1><br>

	<script src="//simplybook.it/v2/widget/widget.js"></script>
	<script>var widget = new SimplybookWidget({"widget_type":"iframe","url":"https:\/\/ecouteechange.simplybook.it","theme":"hugo","theme_settings":{"timeline_show_end_time":"0","timeline_modern_display":"as_slots","nav_bg_color":"#ffffff","sb_base_color":"#00b5b8","display_item_mode":"block","body_bg_color":"#ffffff","dark_font_color":"#454545","light_font_color":"#353f5e","sb_company_label_color":"#ffffff","hide_img_mode":"0","show_sidebar":"0","sb_busy":"#dad2ce","sb_available":"#d3e0f1"},"timeline":"flexible","datepicker":"top_calendar","is_rtl":false,"app_config":{"predefined":[]}});</script>
-->

<br>
{% for QR in site.data.QR %}
	{% include al type='paragraphe' %}
		{% include al type='titre_p' %}
			{{QR.titre}}
		{% include al type='fin_titre_p' %}
		{% include al type='suite_titre' %}
			{{QR.contenu}}
		{% include al type='fin_suite_titre' %}
	{% include al type='fin_paragraphe' %}
{% endfor %}