<nav class="navbar navbar-expand-lg bg-light">
      <a class="navbar-brand" href="/index.html"><img src="data/logo.png" class="img-fluid" alt="logo">Evolutions</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto float-right">
                        <li class="nav-item">
                              <a class="nav-link" href={% link index.html %}>Services</a>
                        </li>
                        
                        <li class="nav-item">
                              <a class="nav-link" href={% link index.html %}>Parcours</a>
                        </li>
                        

                        <li class="nav-item">
                          <a class="nav-link" href={% link index.html %}>Contact</a>
                        </li>
                  </ul>
            </div>
      </div>
</nav>
