<nav class="navbar navbar-expand-lg bg-light">
      <a class="navbar-brand" href="/index.html"><img src="img/logo3.png" class="mr-2 align-top" height="30" alt="logo">(r)Evolutions</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto float-right">
                        <li class="nav-item">
                              <center><a class="nav-link" href={% link index.html %}>Aide & conseil à distance</a></center>
                        </li>
                        
                        <li class="nav-item">
                              <center><a class="nav-link" href={% link efficacite_collective.html %}>Efficacité collective</a><small>conseil & accompagnement</small></center>
                        </li>
                        
                        <li class="nav-item">
                              <center><a class="nav-link" href={% link facilitation.html %}>Ateliers collaboratifs</a><small>création & animation</small></center>
                        </li>
                        
                        <li class="nav-item">
                              <a class="nav-link" href={% link auteur.html %}>Infos persos</a>
                        </li>
                        

                        <li class="nav-item">
                          <a class="nav-link" href={% link index.html %}>Contact</a>
                        </li>
                  </ul>
            </div>
      </div>
</nav>