<div class="mt-5">

	<p><h4>Exemples de prestations</h4></p>
	<div class="row">
		<div class="col-6">
			<div class="card h-100 text-white bg-primary">
				<div class="card-body">
					<div class="card-title text-center"><h4><strong><i>Demandes précises</i></strong></h4><h5>Accompagnement à la mise en oeuvre</h5></div>
					<p class="card-text">
						<ul>
							<li>mettre en place une amélioration continue</li>
							<li>travailler sur l'expérience client</li>
							<li>organiser des réunions plus efficaces</li>
							<li>utiliser la mesure comme outil de pilotage</li>
							<li>mettre en place une gouvernance partagée</li>
							<li>réfléchir ou décider collectivement sur un sujet donné : nouvelle organisation, prise en compte de l'expérience client, objectifs de l'année, plan d'action</li>
						</ul>
					  </p>
				</div>
			</div>	
		</div>

		<div class="col-6">
			<div class="card h-100 text-white bg-primary">
				<div class="card-body">
					<div class="card-title text-center"><h4><strong><i>Demandes générales</i></strong></h4><h5>Analyses + accompagnement à la mise en oeuvre</h5></div>
					<p class="card-text">
						<ul>
						      	<li>être plus agile</li>
						      	<li>réduire les délais</li>
						      	<li>augmenter la motivation et l'engagement des employés</li>
							<li>faire évoluer les postures et pratiques des managers et dirigeants</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<p><h4>Je peux intervenir sur des missions courtes : 1 jour par exemple, ou 1h avec le service <a href={{ site.echange_lien }}>{{ site.echange_libelle }}</a>, ou sur des missions plus longues, s'étalant sur des semaines ou des mois.</h4></p>
	<p><h2>Tarif: 800€ HT/jour, négociable en fonction de vos capacités et de la durée de la mission</h2></p>
</div>
