<div class="mt-5">

	<p><h2>Prestations<small> - exemples:</small></h2></p>
	<div class="row">
		<div class="col-xs-12 col-lg-6 mt-1 mb-1">
			<div class="card h-100 text-white bg-primary">
				<div class="card-body">
					<div class="card-title text-center"><h3>Audit & conseil</h3></div>
					<p class="card-text">
						<ul style="font-size:20px">
							<li>être plus agile</li>
							<li>réduire les délais</li>
							<li>augmenter la motivation et l'engagement des employés</li>
							<li>faire évoluer les postures et pratiques des managers et dirigeants</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-lg-6 mt-1 mb-1">
			<div class="card h-100 text-white bg-primary">
				<div class="card-body">
					<div class="card-title text-center"><h3>Accompagnement à la mise en oeuvre</h3></div>
					<p class="card-text">
						<ul style="font-size:20px">
							<li>amélioration continue</li>
							<li>pensée expérience client</li>
							<li>réunions plus efficaces</li>
							<li>piloter avec la mesure</li>
							<li>gouvernance partagée</li>
						</ul>
					  </p>
				</div>
			</div>	
		</div>
	</div>
	

</div>
