<div class="min-vh-100 ">
	<h1>Exemples de demandes</h1>
  
  <div class="col-6">
    
    <div class="card h-100 text-white bg-success">
				<div class="card-body">
				  <h4 class="card-title text-center"><strong>Demandes ciblées</strong></h4>
					<p class="card-text">
            <ul>
              <li>mettre en place une amélioration continue
              <li>travailler sur l'expérience client
              <li>modifier une organisation
              <li>organiser des réunions plus efficaces
              <li>revoir ses KPIs
              <li>mettre en place une gouvernance partagée
              <li>faire évoluer les postures et pratiques des managers et dirigeants
            </ul>
          </p>
				</div>
	  </div>	
  </div>
  
  <div class="col-6">
    <div class="card h-100 text-white bg-success">
				<div class="card-body">
				  <h4 class="card-title text-center"><strong>Demandes très générales</strong></h4>
					<p class="card-text">
            <ul>
              <li>être plus agile
              <li>réduire les délais
              <li>améliorer la qualité de vie aut ravail
            </ul>
          </p>
        </div>
     </div>
  </div>

</div>
</div>
