<html>
	<head>
		<title><{{ page.title }}</title>
			
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
			<!--<link rel="stylesheet" type="text/css" href="/css/bootstrap-4-navbar.css">-->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

			<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Give+You+Glory|Indie+Flower|Paytone+One|Poppins|Shadows+Into+Light+Two">
			-->
	</head>
	<body>
		{% include header.html %}
		<div class="container">
			{{ content }}
		</div><!-- /.container -->
	</body>
</html>
