<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
			
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		
		<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-4-navbar.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

			<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Give+You+Glory|Indie+Flower|Paytone+One|Poppins|Shadows+Into+Light+Two">
			-->
	</head>
	<body>
    	<script src="/js/jquery.min.js"></script>
		<script src="https://kit.fontawesome.com/b798a126c1.js" crossorigin="anonymous"></script>
		<script src="/js/bootstrap.bundle.min.js"></script>
		
		{% include header.html %}
		<div class = "container">
			{{ content }}
		</div>
		
		<!-- Scroll si clic -->
		<script>
			var target = $("#scroll");
			target.on("toggle", event => {
				$("html, body").stop().animate( { scrollTop: target.offset().top }, 500);
			});
		</script>
		
		<!-- Me contacter-->
		<div style="position:fixed;top:90vh;height=10vh;right:0vh;"><a href="##"  data-toggle="modal" data-target="#exampleModal" style="color:orange;"><i class="fa fa-3x fa-pencil-square"></i></a></div>
		

		<!-- Modal 	formulaire contact -->
		<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <!--<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>-->
			  <div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
				<!-- www.123formbuilder.com script begins here --><script type="text/javascript" defer src="//www.123formbuilder.com/embed/5490706.js" data-role="form" data-default-width="650px"></script><!-- www.123formbuilder.com script ends here -->
			  </div>
			  <div class="modal-footer">
			  </div>
			</div>
		  </div>
		</div>

	</body>
</html>
